body {
  background-color: rgb(216, 213, 213);
  text-align: center;
}

.body-wrapper {
  padding: 0 50px;

  .body-holder {
    background-color: white;
    padding: 20px 50px;

    .logo-header {
      position: relative;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 50px;

      .log-header__text {
        margin: 0;
        position: absolute;
        right: 0;
      }
    }

    .body-services {
      display: inline-block;
      font-size: 2em;
      font-weight: 1000;

      .body-services__one {
        display: inline-block;

        padding: 20px;
      }
      .body-services__two {
        display: inline-block;

        padding: 20px;
      }
      .body-services__three {
        display: inline-block;

        padding: 20px;
      }

      .body-services__four {
        display: inline-block;

        padding: 20px;
      }
    }
  }
}
